# --- Build Artifacts
build/
bin/
*.o
*.d
*.so
*.a
*.out
# Ignore binaries if they end up in root
/spiketrace
/spiketrace-view
/spiketrace-view-cli

# --- Go Specifics
vendor/
*.test
*.prof

# --- C/LSP Tooling
.clangd
.cache/
compile_commands.json
.gcc-flags.json

# --- Editors & OS
.vscode/
.idea/
*.swp
.DS_Store

# --- Spiketrace Specific
*.log
*.dump
man/spiketrace.1
man/spiketrace-view.1